# Database
DATABASE_URL=postgresql://slaforge:slaforge@localhost:5432/slaforge

# Redis
REDIS_URL=redis://localhost:6379

# Security
SECRET_KEY=DOPnLIfet5ML0IiCRa-UWPrqr9K_tBrCU2unGocPvOE
ALGORITHM=HS256

# Model config
SMALL_MODEL_ID=TinyLlama/TinyLlama-1.1B-Chat-v1.0
LARGE_MODEL_ID=mistralai/Mistral-7B-Instruct-v0.2
USE_MOCK_MODELS=true

# Cost config ($ per 1000 tokens)
SMALL_MODEL_COST_PER_1K=0.0002
LARGE_MODEL_COST_PER_1K=0.0008